{% extends 'base.html' %}
{% load static %}

{% block title %}Opportunities{% endblock %}

{% block content %}
<h1>{{ head.department }} - Opportunities</h1>

<table class="table table-bordered mt-3">
  <thead>
    <tr>
      <th scope="col">Opportunity Statement</th>
      <th scope="col">Planned Actions</th>
      <th scope="col">KPI</th>
      <th scope="col">Key Persons</th>
      <th scope="col">Target Output</th>
      <th scope="col">Budget</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for opportunity in opportunities %}
    <tr>
      <td>{{ opportunity.statement }}</td>
      <td>{{ opportunity.plannedActions }}</td>
      <td>{{ opportunity.kpi }}</td>
      <td>{{ opportunity.keyPersons }}</td>
      <td>{{ opportunity.targetOutput }}</td>
      <td>{{ opportunity.budget }}</td>
      <td>{{ opportunity.startDate }}</td>
      <td>{{ opportunity.endDate }}</td>
      <td><a href="" class="btn btn-primary float-right mb-3 mt-3 px-4" style="background-color: #CF910C; border-radius: 5px; border: none;"><i class="fa-solid fa-check"></i> Approve Opportunity</a>
    </tr>
    {% empty %}
    <tr>
      <td colspan="8">No opportunities found</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}