{% extends 'base.html' %}
{% load static %}

{% block title %}Opportunities{% endblock %}

{% block content %}
<h1>Opportunites </h1>





<a href="{% url 'addOpportunity' %}" class="btn btn-primary float-right mb-3 mt-3" style="background-color: #CF910C; border-radius: 5px; border: none;"><i class="fa-solid fa-add"></i> Add Opportunity Here</a>

<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">Objectives</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr>
        <td>dasds</td>
        <td>View</td>
    </tr>
  </tbody>
</table>
{% endblock %}
